@mixin fill() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#modal-container {
  #modal-inner {
    z-index: 9999;
    position: fixed;
    @include fill;
    #mask {
      position: absolute;
      @include fill;
      background: rgba(0, 0, 0, 0.68);
    }

    #modal {
      position: absolute;
    }
  }
}
#modal-content {
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;
}
